@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Press+Start+2P&display=swap');
nav ul{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}
.sublist{
  flex-direction: column;
  position: absolute;
  display: none;
  margin-top: 12px;
}
.sublist li a{
  display: block;
}
.sublist li{
  margin-left: 0;
}
nav li{
  margin-left: 12px;
}
.itemWithDropdown:hover .sublist{
  display: flex;
}
nav a:link{
  background-color: rgb(156, 191, 236);
  color: rgb(29, 82, 131);
  padding: 12px;
}
nav a:visited{
  background-color: rgb(241, 216, 188);
  color: rgb(168, 82, 42);
  padding: 12px;
}
nav a:hover{
  background-color: rgb(207, 241, 188);
  color: rgb(75, 122, 69);
  padding: 12px;
}
nav a.current{
  background-color: rgb(211, 211, 211);
  color: rgb(88, 88, 88);
  padding: 12px;
}
nav a:active{
  background-color: rgb(237, 241, 188);
  color: rgb(199, 117, 11);
  padding: 12px;
}
.sublist a:link{
  background-color: rgb(230, 188, 241);
  color: rgb(96, 69, 122);
  padding: 12px;
}
.sublist a:visited{
  background-color: rgb(188, 237, 241);
  color: rgb(29, 167, 167);
  padding: 12px;
}
.sublist a:hover{
  background-color: rgb(241, 188, 188);
  color: rgb(148, 21, 21);
  padding: 12px;

}
.sublist a.current{
  background-color: rgb(201, 201, 201);
  color: rgb(109, 109, 109);
  padding: 12px;
}
.sublist a:active{
  background-color: rgb(188, 191, 241);
  color: rgb(43, 44, 90);
  padding: 12px;
}
html{
  background-image: url('earth.jpg');
  background-repeat: no repeat;
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
}
.textblock{
  background-color: rgba(219, 219, 219, 0.699);
  color: rgb(12, 13, 80);
  text-align: justify;
}
h1{
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', fantasy;
  font-size: 18pt;
}
h2{
  color: rgb(255, 255, 255);
  font-family: 'Cinzel', serif;
  font-weight: 500;
  font-size: 15pt;
}
.contrast odd{
  filter: contrast(140%); 
}
.odd{
  float: left;
  margin-right: 10px;
  border: 4px solid rgb(50, 85, 65);
  border-radius: 50%;
  max-width: 300px;
}
img:hover{
  transform: scaleX(-1);
}
.even{
  float: right;
  margin-left: 10px;
  border: 4px solid rgb(15, 23, 95);
  border-radius: 50%;
  max-width: 300px;
}